In [36]:
import numpy as np

# Some data about cities from citylines.co
# Columns: name, long, lat, start_year, country, length
# length is the length of public transportation network in meters
cities = np.array([
          ["Stockholm", 18.05, 59.28333333, 1919, "Sweden", 132897],
          ["Sydney", 151.2, -33.866667, 1858, "Australia", 355001],
          ["Singapore", 103.833333, 1.283333, 1932, "Singapore", 270996],
          ["Vienna", 16.33333333, 48.23333333, 1978, "Austria", 84970],
          ["Bilbao", -2.953333, 43.262222, 1887, "Spain", 37105],
          ["Montpellier", 3.869985716, 43.61039878, 1996, "France", 98675],
          ["Istanbul", 28.955, 41.013611, 1989, "Turkey", 38096],
          ["Seoul", 126.977966, 37.566536, 1971, "South Korea", 1418234],
          ["Chicago", -87.61666667, 41.83333333, 1892, "United States", 176958],
          ["Cincinnati", -84.5, 39.13333333, 1920, "United States", 31236],
          ["Dallas", -96.76666667, 32.76666667, 1989, "United States", 125699],
          ["Denver", -105, 39.75, 1994, "United States", 174131],
          ["Los Angeles", -118.25, 34.05, 2017, "United States", 140077],
          ["Mexico City", -99.11666667, 19.43333333, 1967, "Mexico", 446306],
          ["Munich", 11.58333333, 48.13333333, 2017, "Germany", 176735],
          ["Naples", 14.25, 40.83333333, 1976, "Italy", 22320],
          ["Madrid", -3.7, 40.43333333, 1869, "Spain", 577574],
          ["London", -0.08333333333, 51.53333333, 1833, "England", 1663529],
          ["Tokyo", 139.75, 35.66666667, 1872, "Japan", 4770864]])


# Koordinaten:
coordinates = cities[:,1:3]

print(coordinates)

[['18.05' '59.28333333']
 ['151.2' '-33.866667']
 ['103.833333' '1.283333']
 ['16.33333333' '48.23333333']
 ['-2.953333' '43.262222']
 ['3.869985716' '43.61039878']
 ['28.955' '41.013611']
 ['126.977966' '37.566536']
 ['-87.61666667' '41.83333333']
 ['-84.5' '39.13333333']
 ['-96.76666667' '32.76666667']
 ['-105' '39.75']
 ['-118.25' '34.05']
 ['-99.11666667' '19.43333333']
 ['11.58333333' '48.13333333']
 ['14.25' '40.83333333']
 ['-3.7' '40.43333333']
 ['-0.08333333333' '51.53333333']
 ['139.75' '35.66666667']]

In [37]:
# Länge in Kilometern:
meter = cities[:,5].astype(np.int16)
print(meter)
kilometer = meter / 1000
print(kilometer)

# Alter:
jahr = cities[:, 3].astype(np.int16)
print(jahr)
alter = 2023 - jahr
print(alter)

# Längstes und altestes Netz:
längstes = cities[:, 5].astype(np.int16).max()
print(längstes)
ältestes = cities[:, 3].astype(np.int16).min()
print(ältestes)

[  1825  27321   8852  19434 -28431 -32397 -27440 -23558 -19650  31236
  -5373 -22477   9005 -12446 -19873  22320 -12250  25129 -13264]
[  1.825  27.321   8.852  19.434 -28.431 -32.397 -27.44  -23.558 -19.65
  31.236  -5.373 -22.477   9.005 -12.446 -19.873  22.32  -12.25   25.129
 -13.264]
[1919 1858 1932 1978 1887 1996 1989 1971 1892 1920 1989 1994 2017 1967
 2017 1976 1869 1833 1872]
[104 165  91  45 136  27  34  52 131 103  34  29   6  56   6  47 154 190
 151]
31236
1833

In [38]:
# Geben Sie alle Städte aus, die (a) eine Netzlänge von über 
# 500km haben und (b) nicht in Japan sind.

# a:
cities[(cities[:,5].astype(np.float64) > 50000) & (cities[:,4] != 'Japan')]

array([['Seoul', '126.977966', '37.566536', '1971', 'South Korea',
        '1418234'],
       ['Madrid', '-3.7', '40.43333333', '1869', 'Spain', '577574'],
       ['London', '-0.08333333333', '51.53333333', '1833', 'England',
        '1663529']], dtype='<U32')