# Projektarbeit Gruppe 2: Gesundheitsdaten

https://www.kaggle.com/datasets/sooyoungher/smoking-drinking-dataset

In [14]:
# Import der benötigten Bibliotheken

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
# Daten laden:

path = str(os.getcwd()).replace("\Projektarbeit\Aufgaben", "")

dataset = pd.read_csv(path + '\smoking_driking_dataset_Ver01.csv')

# Anforderungen 1: NumPy und pandas

Erstellen Sie NumPy-Arrays mit (Teil-)Daten aus Ihrem Projekt.

In [16]:
# Ausgabe des Datasets als Numpy Array:

dataset_nparray = np.array(dataset)

Filtern Sie ein NumPy-Array basierend auf mindestens 2 Bedingungen auf mindestens 2 Arrays/Spalten.

In [17]:
# Anwendung zweier Filterbedingungen
# Alle männlichen Trinker: sex = 'Male' & DRK_YN = 'Y'

filter_args = (dataset_nparray[:,0] == 'Male') & (dataset_nparray[:,23] == 'Y')
filtered_data = dataset_nparray[filter_args]

Berechnen Sie mind. 2 Statistiken auf mind. 2 Arrays.

In [18]:
# Berechnung zweier Statistiken basierend auf zwei Arrays:

# 1. Anzahl der männlichen Trinker gesamt:

male_drinker = filtered_data.shape[0]
print('Anzahl der männlichen Trinker: ' + str(male_drinker))

# 2. Durchschnittsalter aller Personen (gerundet auf 2 Dezimalstellen):

age = dataset_nparray[:,1]
average_age = np.average(age)
average_age_clean = np.round(average_age, 2)
print('Durchschnittsalter aller Personen: ' + str(average_age_clean))

# 3. Mediangewicht aller Personen über 50:

weight = dataset_nparray[:,3]
filter_args = weight.astype(np.float64) > 50
filtered_data = weight[filter_args]
median_weight = np.median(filtered_data)
print('Mediangewicht der Personen über 50: ' + str(median_weight))

Anzahl der männlichen Trinker: 354317
Durchschnittsalter aller Personen: 47.61
Mediangewicht der Personen über 50: 65.0

Laden Sie eine Datei von der Festplatte oder einer URL als pandas-DataFrame.

In [19]:
# Dataset laden und die ersten 5 Zeilen ausgeben:
path = str(os.getcwd()).replace("\Projektarbeit\Aufgaben", "")

dataset = pd.read_csv(path + '\smoking_drinking_dataset_V0.csv')
dataset.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,Male,35,170,75,90.0,1.0,1.0,1.0,1.0,120.0,...,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,Y
1,Male,30,180,80,89.0,0.9,1.2,1.0,1.0,130.0,...,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,N
2,Male,40,165,75,91.0,1.2,1.5,1.0,1.0,120.0,...,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,N
3,Male,50,175,80,91.0,1.5,1.2,1.0,1.0,145.0,...,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,N
4,Male,50,165,60,80.0,1.0,1.2,1.0,1.0,138.0,...,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,N

Fügen Sie mindestens eine neue Spalte hinzu, die aus mindestens einer anderen Spalte berechnet wurde.

In [20]:
# Neue berechnete Spalte hinzufügen:

body_mass_index = dataset["weight"].astype(np.float64) / ((dataset["height"].astype(np.float64) / 100) * (dataset["height"].astype(np.float64) / 100))

dataset["BMI"] = body_mass_index

Ändern Sie Reihenfolge und Benennung der Spalten.

In [21]:
# Ändern der Reihenfolge und Benennung der Spalten:

dataset_renamed = dataset.rename(columns={'sex': 'Geschlecht', 'age': 'Alter', 'height': 'Größe', 'weight': 'Gewicht', 'waistline': 'Taille', 'sight_left': 'Sehkraft_links', 'sight_right': 'Sehkraft_rechts', 'hear_left': 'Hörkraft_links', 'hear_right': 'Hörkraft_rechts', 'SBP': 'Systolischer Blutdruck', 'DBP': 'Diastolischer Blutdrock', 'BLDS': 'Blutleckdetektor', 'tot_chole': 'Totale Cholesterin', 'HDL_chole': 'HDL_Cholesterin', 'LDL_chole': 'LDL_Cholesterin', 'triglyceride': 'Triglycerid', 'hemoglobin': 'Hemoglobin', 'urine_protein': 'Urin_Proteine', 'serum_creatinine': 'Serum_Kreatinin', 'SGOT_AST': 'SGOT_AST', 'SGOT_ALT': 'SGOT_ALT', 'gamma_GTP': 'gamma_GTP', 'SMK_stat_type_cd': 'Raucher_Status', 'DRK_YN': 'Trinker', 'BMI': 'Body-Mass-Index'})
column_names = dataset_renamed.columns.values.tolist()
print(column_names)

dataset_redordered = dataset_renamed.sort_values(by=['Alter'], ascending=True)

['Geschlecht', 'Alter', 'Größe', 'Gewicht', 'Taille', 'Sehkraft_links', 'Sehkraft_rechts', 'Hörkraft_links', 'Hörkraft_rechts', 'Systolischer Blutdruck', 'Diastolischer Blutdrock', 'Blutleckdetektor', 'Totale Cholesterin', 'HDL_Cholesterin', 'LDL_Cholesterin', 'Triglycerid', 'Hemoglobin', 'Urin_Proteine', 'Serum_Kreatinin', 'SGOT_AST', 'SGOT_ALT', 'gamma_GTP', 'Raucher_Status', 'Trinker', 'Body-Mass-Index']

Löschen Sie mindestens eine Spalte.

In [22]:
# Spalte löschen:

dataset_redordered.drop('Body-Mass-Index', axis=1, inplace=True)

dataset_redordered.head()

,Geschlecht,Alter,Größe,Gewicht,Taille,Sehkraft_links,Sehkraft_rechts,Hörkraft_links,Hörkraft_rechts,Systolischer Blutdruck,...,LDL_Cholesterin,Triglycerid,Hemoglobin,Urin_Proteine,Serum_Kreatinin,SGOT_AST,SGOT_ALT,gamma_GTP,Raucher_Status,Trinker
611351,Male,20,180,65,72.0,1.5,1.5,1.0,1.0,110.0,...,80.0,60.0,13.9,1.0,1.1,22.0,19.0,14.0,1.0,Y
513844,Male,20,175,65,75.0,0.8,0.8,1.0,1.0,153.0,...,93.0,2527.0,18.3,3.0,0.9,16.0,13.0,37.0,1.0,Y
356547,Male,20,170,65,77.0,0.9,0.9,1.0,1.0,129.0,...,71.0,59.0,15.0,1.0,0.9,19.0,12.0,11.0,1.0,N
665411,Female,20,155,45,69.0,0.9,1.0,1.0,1.0,111.0,...,70.0,35.0,13.9,1.0,0.7,17.0,6.0,14.0,1.0,N
845242,Male,20,170,65,78.0,0.9,1.5,1.0,1.0,108.0,...,130.0,37.0,16.2,1.0,1.0,21.0,16.0,17.0,1.0,N


Verwenden Sie mindestens eine Funktion aus dem str-Accessor.

In [23]:
# Funktion aus dem str-Accessor (Harmonisierung der Trinker-Spalte):

dataset["Trinker"] = dataset_redordered["Trinker"].str.replace('Y', '1').str.replace('N', '0')

Speichern Sie Ihr pandas DataFrame in eine Datei.

In [24]:
# Dataset in CSV speichern:

# dataset.to_csv("smoking_drinking_dataset_V1.csv")